# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
*.env

# Database files
# *.db
*.sqlite3

# Logs
*.log

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Byte-compiled / optimized
